{"swagger":"2.0","info":{"title":"Minecraft Manager RESTful API","description":"The RESTful API for Minecraft Manager","version":"1.0"},"host":"minecraft-manager.xgheaven.com","basePath":"/api","schemes":["http"],"produces":["application/json"],"consumes":["application/json","application/x-www-form-urlencoded","multipart/form-data"],"securityDefinitions":{"basicAuth":{"type":"basic"}},"security":[{"basicAuth":[]}],"definitions":{"jar":{"type":"object","properties":{"version":{"description":"jar file version","type":"string"},"status":{"enum":["installing","installed","uninstall"],"type":"string"}},"additionalProperties":false,"patterns":[]},"save":{"type":"object","properties":{"name":{"type":"string"}},"additionalProperties":false,"patterns":[]},"server":{"type":"object","properties":{"name":{"type":"string"},"version":{"description":"jar file version","type":"string"},"saveName":{"type":"string"},"options":{"type":"object","properties":{"javaXms":{"type":"string"},"javaXmx":{"type":"string"},"properties":{"type":"object","properties":{"gamemode":{"enum":[0,1,2,3],"type":"number"},"difficulty":{"enum":[0,1,2,3],"type":"number"},"pvp":{"type":"boolean"},"enable-command-block":{"type":"boolean"},"max-players":{"type":"number","minimum":1},"server-port":{"type":"number","minimum":1,"maximum":65536},"view-distance":{"type":"number","minimum":3,"maximum":32},"white-list":{"type":"boolean"},"online-mode":{"type":"boolean"},"level-seed":{"type":"number"},"motd":{"type":"string"}},"additionalProperties":false,"patterns":[]}},"additionalProperties":false,"patterns":[]}},"additionalProperties":false,"patterns":[]},"console":{"type":"object","properties":{"log":{"description":"the whole log","type":"string"},"time":{"description":"log generator time","type":"string","pattern":"[object Object]"},"type":{"description":"log type, only from server","type":"string"},"from":{"description":"where log generator from","enum":["client","server"],"type":"string"},"message":{"description":"log message, only from server","type":"string"},"name":{"description":"log generator thread, only from server","type":"string"}},"additionalProperties":false,"patterns":[]},"version":{"type":"object","properties":{"id":{"description":"jar file version","type":"string"},"type":{"enum":["snapshot","release"],"type":"string"},"time":{"type":"string","format":"date-time"},"releaseTime":{"type":"string","format":"date-time"},"url":{"type":"string","format":"uri"}},"additionalProperties":false,"patterns":[]}},"paths":{"/jar":{"get":{"parameters":[],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/jar"}}}},"summary":"index resource for jar","description":"","tags":["jar"]},"post":{"parameters":[{"in":"body","name":"body","description":"body parameters","schema":{"type":"object","properties":{"version":{"description":"jar file version","type":"string"}},"additionalProperties":false,"patterns":[],"required":["version"]}}],"responses":{"200":{"description":"jar have been created","schema":{"$ref":"#/definitions/jar"}},"201":{"description":"jar created success"}},"summary":"create resource for jar","description":"","tags":["jar"]}},"/jar/{jar}":{"get":{"parameters":[{"name":"jar","in":"path","type":"string","require":true,"description":"jar file version"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/jar"}}},"summary":"get resource for jar","description":"","tags":["jar"]},"put":{"parameters":[{"in":"body","name":"body","description":"body parameters","schema":{"type":"object","properties":{"status":{"enum":["install","uninstall","reinstall"],"type":"string"}},"additionalProperties":false,"patterns":[],"required":["status"]}},{"name":"jar","in":"path","type":"string","require":true,"description":"jar file version"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/jar"}}},"summary":"update resource for jar","description":"","tags":["jar"]},"delete":{"parameters":[{"name":"jar","in":"path","type":"string","require":true,"description":"jar file version"}],"responses":{"200":{"description":"Success"}},"summary":"delete resource for jar","description":"","tags":["jar"]}},"/save":{"get":{"parameters":[],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/save"}}}},"summary":"index resource for save","description":"","tags":["save"]},"post":{"parameters":[{"in":"body","name":"body","description":"body parameters","schema":{"type":"object","properties":{"name":{"type":"string"}},"additionalProperties":false,"patterns":[],"required":["name"]}}],"responses":{"200":{"description":"save have been created","schema":{"$ref":"#/definitions/save"}},"201":{"description":"save created success"}},"summary":"create resource for save","description":"","tags":["save"]}},"/save/{save}":{"get":{"parameters":[{"name":"save","in":"path","type":"string","require":true,"description":"save id"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/save"}}},"summary":"get resource for save","description":"","tags":["save"]},"put":{"parameters":[{"in":"body","name":"body","description":"body parameters","schema":{"type":"object","properties":{"backup":{"type":"string"}},"additionalProperties":false,"patterns":[]}},{"name":"save","in":"path","type":"string","require":true,"description":"save id"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/save"}}},"summary":"update resource for save","description":"","tags":["save"]},"delete":{"parameters":[{"name":"save","in":"path","type":"string","require":true,"description":"save id"}],"responses":{"200":{"description":"Success"}},"summary":"delete resource for save","description":"","tags":["save"]}},"/save/{save}/backup":{"get":{"parameters":[],"responses":{"200":{"description":"Success"}},"summary":"index resource for backup","description":"","tags":["backup"]},"post":{"parameters":[],"responses":{"200":{"description":"backup have been created"},"201":{"description":"backup created success"}},"summary":"create resource for backup","description":"","tags":["backup"]}},"/save/{save}/backup/{backup}":{"get":{"parameters":[{"name":"save","in":"path","type":"string","require":true,"description":"save id"},{"name":"backup","in":"path","type":"string","require":true,"description":"backup id"}],"responses":{"200":{"description":"Success"}},"summary":"get resource for backup","description":"","tags":["backup"]},"delete":{"parameters":[{"name":"save","in":"path","type":"string","require":true,"description":"save id"},{"name":"backup","in":"path","type":"string","require":true,"description":"backup id"}],"responses":{"200":{"description":"Success"}},"summary":"delete resource for backup","description":"","tags":["backup"]}},"/server":{"get":{"parameters":[],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/server"}}}},"summary":"index resource for server","description":"","tags":["server"]},"post":{"parameters":[{"in":"body","name":"body","description":"body parameters","schema":{"type":"object","properties":{"name":{"type":"string"},"version":{"description":"jar file version","type":"string"},"save":{"type":"string"},"options":{"type":"object","properties":{"javaXms":{"type":"string"},"javaXmx":{"type":"string"},"properties":{"type":"object","properties":{"gamemode":{"enum":[0,1,2,3],"type":"number"},"difficulty":{"enum":[0,1,2,3],"type":"number"},"pvp":{"type":"boolean"},"enable-command-block":{"type":"boolean"},"max-players":{"type":"number","minimum":1},"server-port":{"type":"number","minimum":1,"maximum":65536},"view-distance":{"type":"number","minimum":3,"maximum":32},"white-list":{"type":"boolean"},"online-mode":{"type":"boolean"},"level-seed":{"type":"number"},"motd":{"type":"string"}},"additionalProperties":false,"patterns":[]}},"additionalProperties":false,"patterns":[]}},"additionalProperties":false,"patterns":[],"required":["name","version","save"]}}],"responses":{"200":{"description":"server have been created","schema":{"$ref":"#/definitions/server"}},"201":{"description":"server created success"}},"summary":"create resource for server","description":"","tags":["server"]}},"/server/{server}":{"get":{"parameters":[{"name":"server","in":"path","type":"string","require":true,"description":"server id"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/server"}}},"summary":"get resource for server","description":"","tags":["server"]},"put":{"parameters":[{"in":"body","name":"body","description":"body parameters","schema":{"type":"object","properties":{"status":{"enum":["start","stop"],"type":"string"},"options":{"type":"object","properties":{"javaXmx":{"type":"string"},"javaXms":{"type":"string"},"properties":{"type":"object","properties":{"gamemode":{"enum":[0,1,2,3],"type":"number"},"difficulty":{"enum":[0,1,2,3],"type":"number"},"pvp":{"type":"boolean"},"enable-command-block":{"type":"boolean"},"max-players":{"type":"number","minimum":1},"server-port":{"type":"number","minimum":1,"maximum":65536},"view-distance":{"type":"number","minimum":3,"maximum":32},"white-list":{"type":"boolean"},"online-mode":{"type":"boolean"},"level-seed":{"type":"number"},"motd":{"type":"string"}},"additionalProperties":false,"patterns":[]}},"additionalProperties":false,"patterns":[]}},"additionalProperties":false,"patterns":[]}},{"name":"server","in":"path","type":"string","require":true,"description":"server id"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/server"}}},"summary":"update resource for server","description":"","tags":["server"]},"delete":{"parameters":[{"name":"server","in":"path","type":"string","require":true,"description":"server id"}],"responses":{"200":{"description":"Success"}},"summary":"delete resource for server","description":"","tags":["server"]}},"/server/{server}/console":{"get":{"parameters":[{"in":"query","name":"format","description":"query parameter","enum":["event"],"type":"string"}],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/console"}}}},"summary":"index resource for console","description":"","tags":["console"]},"post":{"parameters":[{"in":"body","name":"body","description":"body parameters","schema":{"type":"object","properties":{"command":{"type":"string"}},"additionalProperties":false,"patterns":[],"required":["command"]}}],"responses":{"200":{"description":"console have been created","schema":{"$ref":"#/definitions/console"}},"201":{"description":"console created success"},"412":{"description":"Server not start before action"}},"summary":"create resource for console","description":"","tags":["console"]}},"/server/{server}/console/{console}":{},"/server/{server}/error":{"get":{"parameters":[],"responses":{"200":{"description":"Success"}},"summary":"index resource for error","description":"","tags":["error"]}},"/server/{server}/error/{error}":{},"/system":{"get":{"parameters":[{"in":"query","name":"format","description":"query parameter","enum":["event"],"type":"string"}],"responses":{"200":{"description":"Success"}},"summary":"index resource for system","description":"","tags":["system"]}},"/system/{system}":{"get":{"parameters":[{"name":"system","in":"path","type":"string","require":true,"description":"system resource type","enum":["usage","info"]}],"responses":{"200":{"description":"Success"}},"summary":"get resource for system","description":"","tags":["system"]}},"/version":{"get":{"parameters":[{"in":"query","name":"refresh","description":"refresh version list to return or from cache","type":"boolean"}],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/version"}}}},"summary":"index resource for version","description":"","tags":["version"]}},"/version/{version}":{}}}